.container {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.teamTitle {
  font-size: 60px;
  align-self: center;
  justify-self: center;
  padding-top: 80px;
}

.graphicsContainer {
  width: 100%;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 50px;
  padding: 20px;
  gap: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.graphicContainer {
  width: 100%;
  min-height: 200px;
  max-height: 300px;
  background-color: var(--tertiary-color);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.graphicsContainer div h2 {
  align-self: flex-start;
}

.positionsGraphic {
  display: flex;
  align-items: start;
  justify-content: start;
}

.positionsGraphic ol {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.positionsGraphic ol li {
  display: list;
  gap: 10px;
}

.listContainer {
  display: flex;
  gap: 5px;
}

.listContainer div {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-left: 10px;
}

.positionsGraphic ol li p {
  font-weight: bold;
}

.tasksCompleted {
  display: flex;
  align-items: center;
}

.backgroundContainer {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 90%;
  height: 90vh;
  overflow: hidden;
  z-index: 0;
}
.background {
  display: block;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0) 70%,
    rgba(126, 214, 199, 1) 100%
  );
}
