.container {
  width: 100%;
  min-height: 100vh;
}

.selectTasks {
  width: 150px;
  height: 50px;
  margin-bottom: 20px;
  margin-top: 20px;
  position: relative;
  font-size: 16px;
  border-radius: 50px;
  padding: 10px;
}

.itemsContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.itemsContainer div {
  padding: 10px;
}

.itemsSection {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.itemContainer {
  background-color: white;
  padding: 50px;
  min-height: 70px;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
}

.completed {
  background-color: #e6e8ed;
}

.check {
  width: 30px;
  position: absolute;
  top: 5px;
  left: 5px;
  border-radius: 10px;
  background-color: white;
  padding: 5px;
}

.itemContainer p {
  font-size: 16px;
}
.critical {
  background-color: #ffc2c2;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.important {
  background-color: #ffefa8;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.optional {
  background-color: #7ed6c7;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 0px 0px 10px 10px;
}

.positionsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.positionContainer {
  display: flex;
  list-style: none;
  gap: 10px;
  min-width: 100px;
}

.positionColor {
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.optionSprint {
  min-width: 70px;
  padding: 10px;
  border-radius: 20px;
  border-color: var(--text-color);
}

.addItem {
  width: 100%;
  border: none;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 16px;
  background-color: white;
  padding: 20px;
  border-radius: 10px 10px 0px 0px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  position: relative;
  cursor: pointer;
  transition: 0.2s;
}

.addItem:hover {
  background-color: var(--tertiary-color);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 15px 29px 0px;
}

.deleteBtn {
  background-color: rgb(255, 111, 111);
  border: none;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}

.deleteBtn:hover {
  background-color: rgb(229, 99, 99);
}

.backgroundContainer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 90%;
  height: 90vh;
  overflow: hidden;
  z-index: 0;
}
.background {
  display: block;
  background: linear-gradient(
    -135deg,
    rgba(255, 255, 255, 0) 70%,
    rgba(126, 214, 199, 1) 100%
  );
}
