.loginContainer {
  background: var(--tertiary-color);
  background: linear-gradient(
    135deg,
    rgba(245, 247, 250, 1) 0%,
    rgba(126, 214, 199, 1) 100%
  );
  width: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.formContainer {
  background-color: var(--tertiary-color);
  width: 35vw;
  height: 70vh;
  border-radius: 16px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 50px 25px 50px 25px;

  gap: 4vh;
}

.formGroup {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
}

.formGroup label {
  font-size: 16px;
}

.formGroup input {
  height: 7vh;
  border-radius: 10px;
  border: none;
  outline: none;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 16px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 0px 6px;

  transition: 0.2s;
}

.formGroup input:focus {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 0px 24px;
}

.formContainer button {
  width: 100%;
  height: 7vh;
  border-radius: 10px;
  border: none;
  background-color: var(--primary-color);
  color: white;
  font-size: 16px;
  margin-top: auto;

  cursor: pointer;

  transition: 0.2s;
}

.formContainer button:hover {
  background-color: #255fbd;
}
