.sprints {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
  padding-top: 50px;
}

.addSprint {
  width: 100%;
  height: 150px;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: relative;
  text-decoration: none;

  transition: 0.2s;
  cursor: pointer;
  font-size: 50px;
}

.addSprint:hover {
  background-color: var(--tertiary-color);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 15px 29px 0px;
}

.containerSprint {
  display: flex;
  position: relative;
}

.startDate {
  position: absolute;
  top: -30px;
  font-weight: bold;
}
.endDate {
  position: absolute;
  bottom: -30px;
  right: 0px;
  font-weight: bold;
}
