.members {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.conviteBtnContainer {
  width: 100%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: relative;
  z-index: 0;
}

.conviteBtn {
  width: 180px;
  height: 50px;
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.2s;
  margin-right: 20px;
}

.conviteBtn:hover {
  background: color-mix(in srgb, var(--primary-color), black 15%);
}

.conviteBtnContainer p {
  font-size: 16px;
  font-weight: bold;
}

.inviteTextBtn {
  background: none;
  border: none;
  cursor: pointer;
  filter: opacity(0.9);
}

.inviteTextBtn:hover {
  filter: opacity(1);
}

.copyBtn {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 20px;
}

.copyBtn img {
  width: 25px;
  filter: opacity(0.5);
  transition: 0.2s;
}

.copyBtn:hover img {
  filter: opacity(1);
}

.backgroundContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 90vh;
  overflow: hidden;
  z-index: 0;
}
.background {
  display: block;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 80%,
    rgba(126, 214, 199, 1) 100%
  );
}
